@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI9w2_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI3wi_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
}

body {
  position: relative;
  height: 100%;
  background: #003567;
  color: #ffffff;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

body.overlay:before {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.wrapper {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header */
header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 50;
  background: #003567;
}

header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #ffffff;
  font-size: 13px;
}

/* Calendar Styles */
.c-monthyear {
  display: flex;
}

.c-month #c-paginator {
  position: relative;
  width: 200px;
  display: block;
  height: 80px;
  text-align: center;
  overflow: hidden;
}

.c-month .prev,
.c-month .next {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  padding: 9px 12px;
  background-color: #004b8f;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transform: translatey(-50%);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-month .prev {
  left: 0;
}

.c-month .next {
  right: 0;
}

.c-calendar {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

.c-calendar__style {
  background-color: #00407b;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  border-radius: 6px;
}

.c-cal__row {
  display: flex;
  justify-content: flex-start;
}

.c-cal__col, .c-cal__cel {
  width: calc(100% / 7);
  text-align: center;
}

.c-cal__cel {
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-cal__cel p {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background: #004585;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.c-cal__cel:hover {
  background-color: #004b8f;
}

.c-cal__cel.isSelected {
  background-color: #004b8f;
}

.c-cal__cel.isToday p {
  background: rgba(245, 113, 112, 0.4);
}
